<h1>Bienvenid@s</h1>
<br>
<h2>Datos personales</h2>
<br>


<ul class="list-inline">
  <li class="list-inline-item"><h5>Nombre: </h5></li>
  <li class="list-inline-item"><p>Karen Azagra Maldonado</p></li>
</ul>

<ul class="list-inline">
  <li class="list-inline-item"><h5>Correo: </h5></li>
<li class="list-inline-item"><%= link_to 'flga.kazagram@gmail.com', :action => :contacto %></li>
</ul>


<ul class="list-inline">
  <li class="list-inline-item"><h5>Descripción: </h5></li>
  <li class="list-inline-item"><p> Fonoaudióloga con 4 años de experiencia en evaluación e intevención en adultos con alteraciones cognitivas, 
  lingüísticas, auditivas y trastornos psiquiátricos.</p></li>
</ul>



<ul class="list-inline">
  <li class="list-inline-item"><h5>Trabajo: </h5></li>
  <li class="list-inline-item"><p>Actualmente trabajo en investigación académica, centro diurno de y atención domiciliaria</p></li>
</ul>
<br>
<br>
<br>
<br>
<br>



<footer>Modulo 8 - ABP AE1</footer>